<div class="CartContainer">
    <div class="Cart">
        <div class="cartTitle w-50   d-flex justify-content-between align-items-center">
            <h3>Your Cart</h3>
            <span class="me-4" (click)="deleteAll()">Clear All</span>
        </div>
        <div class="d-flex w-100 gap-5">
            <div class="cartItems bg-white w-75 p-3">
                <div *ngFor="let c of card" class="Items d-flex w-100">
                    <ng-container *ngIf="c.quantity > 0">
                        <figure class="position-relative mt-4">
                            <img [src]=c.img width="50px" height="50px" alt="item">
                        </figure>
                        <div class="d-flex flex-column gap-5 w-100 " style="margin-left: 20px;">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="oder-item-name">{{c.title}}
                                </span>
                                <figure>
                                    <img class="" src="./../../../assets/icon/veg.png" width="12px">
                                </figure>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="fs-5">₹{{c.price}}</span>
                                <div class="d-flex align-items-center gap-3">
                                    <button class="btn rounded justify-content-center col-1 minus"
                                        (click)="removeadd(c, plus)" value="-" #plus>–</button>
                                    <span class="">{{c.quantity}}</span>
                                    <button (click)="removeadd(c, minus)" #minus value="+"
                                        class="btn rounded col-1 plus" style="background-color: #f56416;">+</button>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>

            </div>
            <!-- <app-cart></app-cart> -->
            <div class="w-75">
                <div class="CartBill w-100">
                    <h5>Total Charges</h5>
                    <table class="w-100">
                        <tr class="d-flex px-2 justify-content-between ">
                            <th class="border-2 border-start-0 border-end-0 border-top-0">Total Payable</th>
                            <td class="border-2 border-start-0 border-end-0 border-top-0 fw-bold">₹{{totalPayable |
                                number:'1.2-2'}}</td>
                        </tr>
                        <tr class="d-flex px-2 justify-content-between">
                            <td>Sub Total</td>
                            <td>₹{{subTotal | number:'1.2-2'}}</td>
                        </tr>
                        <tr class="d-flex px-2 justify-content-between ">
                            <td>HandalingCharges</td>
                            <td>₹{{handlingCharge | number:'1.2-2' }}</td>
                        </tr>
                        <tr class="d-flex px-2 justify-content-between ">
                            <td>SCGT</td>
                            <td>₹{{Tax | number:'1.2-2'}}</td>
                        </tr>
                        <tr class="d-flex px-2 justify-content-between ">
                            <td>CSGT</td>
                            <td>₹{{Tax | number:'1.2-2'}}</td>
                        </tr>

                    </table>
                </div>
                <div class="d-flex flex-column bg-white mt-4 p-2 justify-content-start rounded textar w-100">
                    <div class="w-100 d-flex justify-content-between p-1">
                        <span>Deleviry Instruction</span>
                        <span (click)="dI()" style="cursor: pointer;">{{diplaybtn}}</span>
                    </div>
                    <div *ngIf="display">
                        <textarea style="resize:none" class="border-1 rounded w-100 p-2">
                                        </textarea>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="w-100  d-flex justify-content-around align-items-center" style="position: relative;padding: 20px;">
        <div class="w-50 p-1 d-flex gap-5" style="border-right: 1px solid grey;">
            <figure>
                <img src="./../../../assets/icon/food-moodrotate.png" width="25px">
            </figure>
            <p>Get order Instantly to your door | table | onway</p>
        </div>

        <button routerLink="/Auth" style="font-size: 19px;font-weight: 500;" class="btn btn-warning">
            Log In / Sign Up to Continue
        </button>

    </div>
</div>